<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>为了达到全面评价一个会员的目的，模界采用了多方面等级评价的方式。分为信用等级，会员等级，魅力值，VIP等级，综合分数。

信用等级代表会员的可信度，这需要通过会员的资格认证以及保证金的缴纳来提升。

信用等级1：身份证认证 信用等级2：保证金缴纳 信用等级3：企业或者个人的营业执照或者工作证明认证。

会员等级代表会员的在线时间，在线时间越长会员等级越高，同时可关注人数也会提升。

每提升1级，可关注的人数就会增加一位，初始人数为10.

魅力值代表会员的吸引力，将会根据会员粉丝的数量和收到礼品以及邀约次数来进行提升。魅力值越高就更有希望登录热门首页让更多的人看到你。

每10个粉丝魅力值加1，收到的礼物以模豆值统计，每10点模豆，魅力值加1，每次成功完成邀约魅力值加5。

VIP等级需要同时通过充值和在线来得到提升。

每天聊模特的数量提升

综合分数为商户对邀约人的综合评价，能直观的描述用户的服务水平。</string>
</dict>
</plist>
